<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px;  background-color: cadetblue;background-size: cover; background-position: center top;">


</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 order-xl-1" style="margin-left: 15%;">
      <div class="card bg-secondary shadow" >
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">

              <h3   class="mb-0">Mes demandes </h3>
            </div>

          </div>
          <hr>
          <div *ngFor=" let conge of listConges" let index="i">
            <div class="row">

              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Employé :</label>
                  <span> {{conge.nomEmployee}}</span>
                </div>
              </div>
            </div>
          <div class="row">

            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Date début : </label>
                <span> {{conge.dateDebut|date}}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Date fin :</label>
                <span> {{conge.dateFin|date}}</span>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label"> Nombre de jour : </label>
                <span> {{conge.nbrJour}}</span>

              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Raison :</label>
                <span> {{conge.raison}}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label"> Type de congé :</label>
                <span> {{conge.type}}</span>
              </div>
            </div>


          </div>
            <div class="card-body">
              <div class="col-4 text-right" style="float:right; margin-right:-55px">
                <div class="col-sm-11 col-md-12 text-right">
                  <button style="margin-right: 5%"
                    class="Employee-button-primary"
                    label="Submit" (click)="acceptDemande($event,conge,true)"
                  >Accepter</button>
                  <button
                    class="Employee-button-primary"
                    label="Submit" (click)="refuseDemande($event,conge,false)"
                  >Refuser</button>
                </div>
              </div>

            </div>
            <hr>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
